<header class="header">
  <div class="container">
    <h1 class="logo col-xs-6 col-md-4 " id="logo"><a class=""><img src="images/logo-enade.jpg" /></a></h1>
    <nav class="menu col-xs-6 col-md-8">
      <ul>
        <li><a href="" class="active" title="" alt="">Home</a></li>
        <li><a href="" onclick="$('#what-is').animatescroll();" class="" title="" alt="">O que é?</a></li>
        <li><a href="" onclick="$('#who').animatescroll();" class="" title="" alt="">Quem Participará?</a></li>
        <li><a href="" class="" data-toggle="modal" data-target="#myModal" >Dicas</a></li>
        <li><a href="" onclick="$('#equipe').animatescroll();" class="" title="" alt="">Desenvolvido por:</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- Banner -->
<section id="banner">
  <div class="container">
	<header>
		<h2>Chegou!</h2>
	</header>
	<p>    O Momento de valorizar ainda mais o seu diploma.</p>
	<footer>
		<a href="#first" class="button-banner" data-toggle="modal" data-target="#myModal">Faça login para ficar por dentro das dicas</a>
	</footer>
  </div>
</section>

<section id="what-is" class="what-is">
  <div class="container">
  <header>
    <h2>O QUE É?</h2>
  </header>
  <p>O Exame Nacional de Desempenho de Estudantes é uma avaliação anual feita pelo MEC para verificar a qualidade do Ensino Superior no Brasil através do conhecimento dos alunos que estão concluindo seu curso superior.</p>

  <p>O ENADE é importante para a Instituição de Ensino Superior, mas é duas vezes mais importante para o aluno. Através do ENADE o MEC gera o conceito do curso (CPC) em que o aluno está estudando. Isso acaba definindo o peso e importância do diploma dele.</p>
  <p>Confira <a href="">aqui</a> a portaria informativa do ENADE</p>
  </div>
</section>

<section id="who" class="who">
  <div class="container">
  <header>
    <h2> QUEM PARTICIPARÁ</h2>
  </header>
  <p>Os Formandos de 2014.2 e 2015.1, dos cursos que conferem diploma em:</p>

  <p> Graduação (diploma de bacharel): Arquitetura e Urbanismo; Sistema de Informação; Engenharia Civil; Engenharia Elétrica; Engenharia de Computação; Engenharia de Controle e Automação; Engenharia Mecânica; Engenharia Química; Engenharia de Alimentos; Engenharia de Produção; Engenharia Ambiental; Engenharia Florestal; Engenharia.</p>

  <p>Graduação (diploma de bacharel ou licenciatura): Ciência da Computação; Ciências Biológicas; Ciências Sociais; Filosofia; Física; Geografia; História; Letras-Português; Matemática; Química.</p>

  <p>Graduação ( Diploma em Licenciatura): Artes Visuais; Educação Física; Letras-Português e Espanhol; Letras-Português e Inglês; Música; Pedagogia.</p>

  <p>Graduação Tecnológica: Análise e Desenvolvimento de Sistemas; Automação Industrial; Gestão da Produção Industrial; Redes de Computadores.</p>
  </div>
</section>

<section id="equipe" class="equipe">
  <div class="container">
  <header>
    <h2> Desenvolvido por:</h2></br>
  </header>
  <div class="box-team col-md-4" >
      <div class="pic">
        <div class="social">
           <ul>
            <li><a href="">F </a></li>
            <li><a href="">G </a></li>
            <li><a href="">T </a></li>
           </ul>
        </div>
        <img src="images/max.jpg" />
      </div>
      <div class="description">
        <strong>Max Lima</strong><br/>
         <span>Desenvolvedor Web</span><br/>
         <p>Análise e Desenvolvimento de Sistemas; Automação Industrial; Gestão da Produção</p>
      </div>
  </div>
  <div class="box-team col-md-4" >
      <div class="pic">
        <div class="social">
           <ul>
            <li><a href="">F </a></li>
            <li><a href="">G </a></li>
            <li><a href="">T </a></li>
           </ul>
        </div>
        <img src="images/max.jpg" />
      </div>
      <div class="description">
        <strong>Max Lima</strong><br/>
         <span>Desenvolvedor Web</span><br/>
         <p>Análise e Desenvolvimento de Sistemas; Automação Industrial; Gestão da Produção</p>
      </div>
  </div>
  <div class="box-team col-md-4" >
      <div class="pic">
        <div class="social">
           <ul>
            <li><a href="">F </a></li>
            <li><a href="">G </a></li>
            <li><a href="">T </a></li>
           </ul>
        </div>
        <img src="images/max.jpg" />
      </div>
      <div class="description">
        <strong>Max Lima</strong><br/>
         <span>Desenvolvedor Web</span><br/>
         <p>Análise e Desenvolvimento de Sistemas; Automação Industrial; Gestão da Produção</p>
      </div>
  </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
      Informações do site: <a href="http://www.enade.estacio.br/">enade.estacio.br</a>
  </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
          <div  class= "input-group col-md-12" >
            <input  type= "text"  class="form-control "  placeholder="Username" >

          </div>
          <br/>
          <div  class= "input-group col-md-12" >
            <input  type="password"  class="form-control "  placeholder="senha" >
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cadastre-se</button>
        <button type="button" class="btn btn-primary">enviar</button>
      </div>
    </div>
  </div>
</div>
