<link rel="stylesheet" href="css/dicas.css" />
<a href="" class="logout" ng-click="logout()" ng-if="user_logged" >Logout</a>
		<!-- Header -->
			<section id="header">
				<header>
					<h1><a href="/">ENADE</a></h1>
					<p>COMO SABER SE VOCÊ ESTÁ PREPARADO PARA O ENADE.</p>
				</header>
				<footer>
					<a href="" onclick="$('#step-0').animatescroll();" class="button style2 scrolly scrolly-centered">Iniciar</a>
				</footer>
			</section>
		<div class="box-steps">
    <article ng-repeat="step in steps" id="step-{{step.step_order}}" class="box-step-{{step.step_id}} container box-next box style2">
      <header class="step-{{step.step_id}}">
        <h2>{{step.title}}</h2>
        <p>{{step.description}}</p>
      </header>
      <footer >
        <a  href="" ng-click="scroll(step.step_id)" class="step-{{step.step_id}} button style2 scrolly scrolly-centered">PRÓXIMO</a>
      </footer>
    </article>

    <article  id="step-{{last_step.step_order}}" class="container box box-next style2">
      <header class="step-{{step.step_id}}">

        <p>{{last_step.description}}</p>
        <h2>{{last_step.title}}</h2>
      </header>
    </article>
	  </div>
      <!-- <article  id="step-2" class="container box  box-next style2">
        <header>
          <h2>Magnis parturient</h2>
          <p>Justo phasellus et aenean dignissim<br />
          placerat cubilia purus lectus.</p>
        </header>
				<footer>
					<a href="" onclick="$('#step-3').animatescroll();" class="button style2 scrolly scrolly-centered">NEXT</a>
				</footer>
      </article>
      <article  id="step-3" class="container box  box-next style2">
        <header>
          <h2>Magnis parturient</h2>
          <p>Justo phasellus et aenean dignissim<br />
          placerat cubilia purus lectus.</p>
        </header>
      </article> -->
