<link rel="stylesheet" href="css/dicas.css" />

		<!-- Header -->
			<section id="header">
				<header>
					<h1><a href="/">ENADE</a></h1>
					<p>COMO SABER SE VOCÊ ESTÁ PREPARADO PARA O ENADE.</p>
				</header>
				<footer>
					<a href="#" onclick="$('#step-1').animatescroll();" class="button style2 scrolly scrolly-centered">Proceed as anticipated</a>
				</footer>
			</section>

    <article id="step-1" class="container box style2">
      <header>
        <h2>Magnis parturient</h2>
        <p>Justo phasellus et aenean dignissim<br />
        placerat cubilia purus lectus.</p>
      </header>
      <footer>
        <a href="" onclick="$('#step-2').animatescroll();" class="button style2 scrolly scrolly-centered">NEXT</a>
      </footer>
    </article>

      <article  id="step-2" class="container box  box-next style2">
        <header>
          <h2>Magnis parturient</h2>
          <p>Justo phasellus et aenean dignissim<br />
          placerat cubilia purus lectus.</p>
        </header>
				<footer>
					<a href="" onclick="$('#step-3').animatescroll();" class="button style2 scrolly scrolly-centered">NEXT</a>
				</footer>
      </article>
      <article  id="step-3" class="container box  box-next style2">
        <header>
          <h2>Magnis parturient</h2>
          <p>Justo phasellus et aenean dignissim<br />
          placerat cubilia purus lectus.</p>
        </header>
      </article>
